/* ADD YOUR STYLES HERE */

.horizontal-align{
	text-align: center;
}

.horizontal-align img,.move-inline{
	padding: 15px;
	vertical-align: top;
}

.move-inline{
	display: inline-block;
}

.list-margin{
	margin-left: 25px;
}


/* 7 vertical-align */

.vert-align{
	vertical-align: middle;
}

.padded-parent{
	padding: 30px 0px;
}

/* 8. Horizontal List */
.horizontal-list{
	list-style-type: none;
	margin:0;
	padding: 0;
	}
.horizontal-list li{
	float: left;
	margin: 0;
	padding: 0;
}

/* 9 Buttons */

.button{
	display: inline-block;
	background-color: #FF8080;
	border: 20px #FF6666;
	border-radius: 5px;
	text-decoration: none;
	color: white;
	padding: 10px 10px;
	opacity: .75;
}

.tall-button{
	padding: 20px 40px;	
	font-size: 20px;
}

.wide-button{
	padding: 10px 40px;
}























